#tasaciones {

  .breadcumb-section2 {
    background-image: url(../images/tasaciones/banner-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
  }

  .form-right-side {
    background-image: url(../images/tasaciones/form-right-side.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
  }


  .contact-form {

    width: 60%;

    input {
      width: 100%;
      margin: 10px 0px;
    }

    input[type="submit"] {
      color: #fff;
      font-weight: bold;
      max-width: 324px;
      padding: 0.3rem;
      background-color: #0053E6;
    }

    input[type="text"] {
      ::placeholder {
        color: pink;
      }
    }

  }
}

