$navyBlue: #022669;
$royalBlue1: #304F89;
$skyBlue: #0495DE;
$electricBlue: #3510DE;
$darkBlue: #033591;
$azureBlue: #0451DD;
$softBlue: #253EA8;
$white: #F4F4F4;
$darkBlueText: #06173D;
$black: #181818;
$vibrantBlue: #3112D5;
$gray1: #717171;
$gray2: #F7F7F7;
$blueCustom1: #0053E6;
$softGray: rgba(221, 221, 221, 0.3);
$IntenseDarkBlue: rgba(6, 23, 61, 0.8);
$IntenseDarkBlue2: rgba(6, 23, 61, 1);
$azureBlue2: rgba(0, 83, 230, 0.80);
$navyBlue2: #0019433e;
$whiteCustom: rgba(244, 244, 244, 1);
$blueCustom2: rgba(4, 81, 221, 0.8);
$navyBlue3: rgba(6, 23, 61, 1);
$softBlackCustom: rgba(0, 0, 0, 0.2);
$yellowCustom: rgba(196, 198, 64, 1);
$darkBlue2: rgba(20, 52, 140, 1);
$blueCustom3: #0055EF;
$blueCustom4: #0D2565;