$whiteTextColor: #FFFFFF;
$blackTextColor: #181A20;
$changerBackgroundColor: #FFFFFF;
$paginationButtonFontSize: 15px;
$paginationParagraphFontSize: 14px;
$inputFontSize: 14px;
$transitionDuration: 0.3s;

@import "pagination.scss";
@import "actions.scss";
@import "neighborhoods.scss";