#tab-agent {
  #content {
    #agent-tab-neighborhoods {
      .neighborhood-list {
        .list-container {
          background-color: white;
          padding: 0;

          .list-table {
            width: 100%;
            color: $black;
            font-size: 14px;
            thead {
              font-family: "Poppins", sans-serif;
              border-bottom: 1px solid #dddddd;
              th {
                font-weight: 300;
                text-align: center;
                padding: 5px 15px;
              }
            }

            .list-item {
              border-bottom: 1px solid #dddddd;
              td {
                vertical-align: top;
                padding: 20px;
              }

              .property-details {
                display: flex;
                gap: 10px;
                .details {
                  display: flex;
                  flex-direction: column;
                  h3 {
                    color: $black;
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 5px;
                  }
                  span {
                    color: $gray1;
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
              }

              .price-x-operation {
                .price-x-operation-container {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 10px;
                  div {
                    width: 100%;
                    padding: 0px 6px;
                    background-color: $white;
                    span {
                      display: block;
                      text-align: center;
                      height: 22px;
                    }
                    :nth-child(1) {
                      font-size: 12px;
                      font-weight: 600;
                    }
                    :nth-child(2) {
                      margin-top: -5px;
                      font-size: 10px;
                    }
                  }
                  button {
                    width: 100%;
                    background-color: transparent;
                    border: 1px solid black;
                    color: $darkBlueText;
                    font-weight: 600;

                    &:hover {
                      background-color: $darkBlueText;
                      color: white;
                    }
                  }
                }
              }

              .requests {
                .requests-container {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 10px;

                  .request-item {
                    font-size: 14px;
                    width: 100px;
                    text-align: center;
                    background-color: $blueCustom2;
                    color: $gray2;
                  }

                  .last-request {
                    font-weight: 400;
                    width: 100%;
                    :nth-child(1) {
                      font-size: 15px;
                      margin: 0 4px;
                    }
                    :nth-child(2) {
                      margin-top: -7px;
                      font-size: 10px;
                    }
                    span {
                      display: block;
                      text-align: center;
                    }
                  }
                }
              }

              .last-action {
                width: 140px;
              }

              .fav-shared {
                .fav-shared-container {
                  display: flex;
                  flex-direction: column;
                  gap: 15px;
                  div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                  }
                  .favorite-image {
                    &:hover {
                      filter: brightness(0) saturate(100%) invert(28%)
                        sepia(99%) saturate(6703%) hue-rotate(359deg)
                        brightness(100%) contrast(107%);
                      cursor: pointer;
                    }
                  }
                  .share-image {
                    &:hover {
                      filter: invert(27%) sepia(95%) saturate(7489%)
                        hue-rotate(203deg) brightness(90%) contrast(101%);
                      cursor: pointer;
                    }
                  }
                }
              }

              .actions {
                .actions-container {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  gap: 10px;
                  button {
                    background-color: transparent;
                    border: 2px solid #dddddd;
                    padding: 8px 12px;

                    &:hover {
                      background-color: $darkBlueText;
                      border: 2px solid $darkBlueText;

                      .image {
                        filter: invert(100%);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
