#tab-agent {
  #content {
    #agent-tab-home {
      padding: 7% 5%;
      .info-user-cont {
        color: $IntenseDarkBlue2;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: 400;
        line-height: 15px;
        .welcome-user {
          font-size: 30px;
          font-weight: 600;
          line-height: 30px;
        }
      }
      .general-info-cont {
        margin-top: 5%;
        display: flex;
        color: $IntenseDarkBlue2;
        gap: 20px;
        .info-item {
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: center;
          padding: 0 3%;
          height: 85px;
          width: 100%;
          max-width: 20em;
          gap: 30px;
          .item-data {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            font-size: 14px;
            width: 75%;
            h2 {
              line-height: normal;
            }
          }
          .item-icon {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            width: 80px;
            height: 50px;
            max-width: 25%;
            background-color: #f3f5f6;
            border-radius: 50%;
            .bg-custom {
              height: 30px;
              width: 30px;
            }
          }
        }
      }
      .details-cont {
        display: flex;
        width: 100%;
        margin-top: 5%;
        gap: 20px;
        color: $IntenseDarkBlue2;
        .graph-cont {
          display: flex;
          width: 65%;
          background-color: #fff;
          height: 100%;
          max-height: 600px;
          flex-direction: column;
          padding: 0 2%;
          .title-graph {
            padding: 3%;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            font-weight: 600;
            .links {
              display: flex;
              gap: 10px;
              font-size: 14px;
              color: #717171;
              font-weight: 400;
            }
          }
          .graph {
            display: flex;
            height: 30rem;
            width: 100%;
            margin-bottom: 15%;
          }
        }
        .activity-cont {
          width: 35%;
          font-size: 17px;
          font-weight: 600;
          padding: 2%;
          background-color: #fff;
        }
      }
    }
    #agent-tab-barrio {
      .table {
        background-color: #ffffff;
      }
      .container-col {
        display: flex;
        gap: 20px;
        width: 50%;
      }
      .bg-custom {
        background-color: #f4f4f4;
      }
      .bt-custom2 {
        background-color: white;
        border: 1px solid #000000;
        transition: background-color 0.5s ease;
      }
      .btn.bt-custom2:hover {
        background-color: #181a20;
        border: 1px solid #ffffff;
        border-color: #ffffff;
      }
      .btn.bt-custom2:hover p {
        color: #ffffff;
      }
      .not-border-color {
        border-color: transparent;
      }
      .small {
        height: 70%;
      }
      .not-hover {
        &:hover {
          background-color: inherit;
          transition: none;
        }
      }
      .heart-icon {
        transition: fill 0.3s ease;
      }

      .heart-icon:hover {
        fill: red;
      }
      .heart-button {
        background: none;
        border: none;
        cursor: pointer;
      }

      .heart-button:focus {
        outline: none;
      }
      .share-button {
        background: none;
        border: none;
        cursor: pointer;
      }

      .share-button:focus {
        outline: none;
      }
      padding: 1.5% 5%;
      .info-user-cont {
        color: $IntenseDarkBlue2;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: 400;
        line-height: 15px;
        .welcome-user {
          font-size: 30px;
          font-weight: 600;
          line-height: 30px;
        }
      }
      .form-search {
        border: 1px solid #dddddd;
        box-shadow: none;
        font-size: 14px;
        font-family: var(--title-font-family);
        height: 60px;
        width: 195px;
        outline: none;
        padding-left: 30px;

        &:focus {
          border-color: black;
        }

        &::placeholder {
          text-align: center;
        }
      }
      .general-info-cont {
        margin-left: 50px;
        margin-top: 6%;
        display: flex;
        color: $IntenseDarkBlue2;
        gap: 20px;
        .info-item {
          justify-content: center;
          align-items: center;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: center;
          padding: 0 0%;
          height: 85px;
          max-width: 20em;
          gap: 52px;
          .item-data {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            font-size: 14px;
            width: 75%;
            h2 {
              line-height: normal;
            }
          }
          .item-icon {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            width: 80px;
            height: 50px;
            max-width: 25%;
            background-color: #f3f5f6;
            border-radius: 50%;
            .bg-custom {
              height: 30px;
              width: 30px;
            }
          }
          .input-icon-container {
            position: relative;
          }

          .flaticon-search {
            position: absolute;
            left: 10px;
            top: 55%;
            transform: translateY(-50%);
          }
          .input-group-custom {
            border-radius: 0;
            width: 323px;
            height: 60px;

            &:focus {
              border-color: black;
            }
          }

          .input-submit-custom {
            border-radius: 0;
            width: 198.61px;
            height: 60px;
            background-color: #090b37;
            color: #ffffff;
            border-color: transparent;
          }
        }
      }
    }
  }
}
